@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');


body{
    background-color: rgb(226, 223, 218);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav .navbar_links{
    font-family: 'Lemon';
}


